.group_a {
    background-color: #EF5609 !important;
    color: white !important;
}

.group_b {
    background-color: #F99A13 !important;
    color: white !important;
}

.group_c {
    background-color: #73ae96 !important;
    color: white !important;
}