.diseases {
    height: 300px;
    margin: 0px;
}

.disease-item {
    margin-top: 10px;
    height: 30px;
}

.disease-name {
    text-align: left;
}

.disease-cases {
    text-align: right;
}

.title{
    font-weight: bold;
    display: inline;
    text-align: left;
    float: left;
}



.provinceInfo{
    text-align: left;
    margin-left: 10px;
}

.selected {
    background-color: #f6f8fa;
}