.Highlight {
    background-color: #ffd54f;
}

.Active {
    background-color: #f48f42;
}

.place {
    background-color: #533747;
    color: white;
}

.time {
    background-color: #00acdc;
    color: white;
}

.disease {
    background-color: #db4864;
    color: white;
}

.headline {
    text-align: left;
    font-size: 120%;
    font-weight: 700;
}

.content {
    text-align: left;
}