.Highlight {
    background-color: #ffd54f;
}

.Active {
    background-color: #f48f42;
}

.place {
    background-color: #33dd22;
}

.time {
    background-color: #00aadd;
}

.disease {
    background-color: red;
}

.headline {
    text-align: left;
    font-size: 120%;
    font-weight: 700;
}

.content {
    text-align: left;
}